In [1]:
import glob 
import pandas as pd

In [6]:
csv_files = glob.glob("history/*.csv")
files = [pd.read_csv(csv) for csv in csv_files]

df = pd.concat(files, axis = 0)
df.to_csv("master.csv")

In [7]:
len(files)

958

In [9]:
csv_files = glob.glob("crypto/Top 100 Crypto Coins/*.csv")
data_frames = []
for file in csv_files: 
    name = file[file.find("crypto/Top 100 Crypto Coins/") + len("crypto/Top 100 Crypto Coins/") + 1:file.find(".csv")]
    name = ((name.replace(" ", "_")))
            
    df = pd.read_csv(file)
    df["name"] = name
            
    data_frames.append(df)

df = pd.concat(data_frames, axis = 0)
df

,Date,Open,High,Low,Close,Volume,Currency,name,Rank,Name,Symbol,Price (USD),Market Cap,Vol (24H),Total Vol,Chg (24H),Chg (7D),Dataset Availability
0,2020-12-25,1.602781,2.918094,1.375262,2.328544,638225549.0,USD,1inch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-12-26,2.318946,2.434916,1.582264,1.596896,237653073.0,USD,1inch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-12-27,1.597744,1.630781,1.056657,1.062112,183978307.0,USD,1inch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-12-28,1.064454,1.254447,1.049051,1.110076,119337529.0,USD,1inch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-12-29,1.110460,1.111282,0.761151,0.887798,137916899.0,USD,1inch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1541,2022-01-28,88.747391,91.555702,86.732201,91.409630,200175943.0,USD,Zcash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1542,2022-01-29,91.409691,96.803375,91.038322,95.976578,195807875.0,USD,Zcash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1543,2022-01-30,96.026886,97.847694,91.918449,93.088058,183640594.0,USD,Zcash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1544,2022-01-31,93.087746,94.783058,88.747971,94.672173,175647245.0,USD,Zcash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1545,2022-02-01,94.666557,99.478104,94.510696,98.916870,171835080.0,USD,Zcash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[["Date", "Open", "High", "Low", "Close", "Volume", "Currency", "name"]].to_csv("all_crypto.csv", index = False)